@page "/pull&bear"
@using pull&bear

<h3>Welcom to pull&bear</h3>

@foreach [view articles]
{
    <pull&bear.Componente.Item.razor pull%bear="tienda de ropa" />
}
@code {
    List <articles> articleslist;   
}

list<articles> getting items[];
{
    return new list<articles>
    {
        new articles { Name = "skin effect", Description = Skinny pants with a high waist, with loops, button closure and zipper and in slightly elastic fabric.
        
        new articles { Name = "leggings", Description = Seamless ribbed leggins available in various shades and in slightly elastic fabric. 

        }
        }
    }
}
